.main {
  background-color: var(--color-gray-light);
  width: 100%;
  padding-top: 9rem;
  height: 40rem;
  margin-top: 6rem;
  clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 0% 100%);
}

.features {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  align-items: center;
}

.featureCard {
  max-width: 15rem;
  text-align: center;
}
