.navList {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.navListItem {
  padding: 0.3rem 0.7rem;
  color: var(--color-gray-dark-3);
}

.navListItem:hover {
  color: var(--color-primary-dark);
}

.navListItem:not(:last-child),
.pillBtn:not(:last-child) {
  margin-right: 0.8rem;
}

.navListItem a {
  text-decoration: none;
}

.pillBtn {
  padding: 0.3rem 0.7rem;
  min-width: 7rem;
}

.pillBtn a {
  text-decoration: none;
}
