.hero {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  margin-top: 1rem;
}

.header {
  color: var(--color-black);
}

.headerSub {
  color: var(--color-primary);
}
.buttons {
  margin-top: 2rem;
}

.buttons a {
  min-width: 12rem;
}

.img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
